body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: pink;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face { 
  font-family: 'Bigshot';
  src: local('BigshotOne-Regular'), 
  url(https://fonts.gstatic.com/s/bigshotone/v29/u-470qukhRkkO6BD_7cM_jxpWwNjXe__.woff2) format('woff2');
}
